{% extends "Admin/base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Select Inventory to View</h4>
                <div class="table-responsive">
                    <form method="POST" action="/inventory">
                        <table class="table table">
                            <tbody>
                            <tr>
                                <td>
                                    <button type="submit" value="cpu" name="cpu" class="btn btn-primary btn-fw">CPU Data
                                    </button>
                                </td>
                                <td>
                                    <button type="submit" value="board" name="board" class="btn btn-primary btn-fw">
                                        Board Data
                                    </button>
                                </td>
                                <td>
                                    <button type="submit" value="ram" name="ram" class="btn btn-primary btn-fw">RAM Data
                                    </button>
                                </td>
                                <td>
                                    <button type="submit" value="cooler" name="cooler" class="btn btn-primary btn-fw">
                                        Cooler
                                    </button>
                                </td>
                            
                            </tr>
                            <tr>
                                <td>
                                    <button type="submit" value="gpu" name="gpu" class="btn btn-primary btn-fw">Graphics
                                        Data
                                    </button>
                                </td>
                                <td>
                                    <button type="submit" value="storage" name="storage" class="btn btn-primary btn-fw">
                                        Storage Data
                                    </button>
                                </td>
                                <td>
                                    <button type="submit" value="cabinet" name="cabinet" class="btn btn-primary btn-fw">
                                        Cabinet Data
                                    </button>
                                </td>
                                <td>
                                    <button type="submit" value="psu" name="psu" class="btn btn-primary btn-fw">PSU
                                        Data
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        {% if req == "cpu" %}
                        <thead>
                        <h4 class="card-title">CPU DATA</h4>
                        <tr>
                            <th>CPUName</th>
                            <th>CoreCount</th>
                            <th>ClockSpeed</th>
                            <th>BoostClock</th>
                            <th>SocketType</th>
                            <th>TDP</th>
                            <th>IntegratedGraphics</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cpu in component %}
                        <tr>
                            <td>{{cpu.CPUName}}</td>
                            <td style="text-align: center;">{{cpu.CoreCount}}</td>
                            <td>{{cpu.ClockSpeed}}</td>
                            <td>{{cpu.BoostClock}}</td>
                            <td>{{cpu.SocketType}}</td>
                            <td>{{cpu.TDP}}</td>
                            <td>{{cpu.IntegratedGraphics}}</td>
                            <td>{{cpu.Price}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        {% endif %}
                        
                        
                        {% if req == "gpu" %}
                        <thead>
                        <h4 class="card-title">GRAPHICS DATA</h4>
                        <tr>
                            <th>Name</th>
                            <th>ChipSet</th>
                            <th>Memory</th>
                            <th>CoreClock</th>
                            <th>BoostClock</th>
                            <th>Color</th>
                            <th>Length</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for gpu in component %}
                        <tr>
                            <td>{{gpu.GPUName}}</td>
                            <td>{{gpu.Chipset}}</td>
                            <td>{{gpu.Memory}}</td>
                            <td>{{gpu.CoreClock}}</td>
                            <td>{{gpu.BoostClock}}</td>
                            <td>{{gpu.Color}}</td>
                            <td>{{gpu.Length}}</td>
                            <td>{{gpu.Price}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        {% endif %}
                        
                        {% if req == "ram" %}
                        <thead>
                        <h4 class="card-title">RAM DATA</h4>
                        <tr>
                            <th>RAMName</th>
                            <th>Type</th>
                            <th>Speed</th>
                            <th>Modules</th>
                            <th>PricePerModule</th>
                            <th>SizePerModule</th>
                            <th>Color</th>
                            <th>FirstWordLatency</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ram in component %}
                        <tr>
                            <td>{{ram.RAMName}}</td>
                            <td>{{ram.Type}}</td>
                            <td>{{ram.Speed}}Mz</td>
                            <td style="text-align: center;">{{ram.Modules}}</td>
                            <td>{{ram.PricePerModule}}</td>
                            <td style="text-align: center;">{{ram.SizePerModule}}</td>
                            <td>{{ram.Color}}</td>
                            <td>{{ram.FirstWordLatency}}</td>
                            <td>{{ram.Price}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        {% endif %}
                        
                        {% if req == "board" %}
                        <thead>
                        <h4 class="card-title">MOTHERBOARD DATA</h4>
                        <tr>
                            <th>BoardName</th>
                            <th>SocketType</th>
                            <th>FormFactor</th>
                            <th>RAMType</th>
                            <th>MaxRam</th>
                            <th>RAMSlote</th>
                            <th>Color</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for board in component %}
                        <tr>
                            <td>{{board.BoardName}}</td>
                            <td>{{board.SocketType}}</td>
                            <td>{{board.FormFactor}}</td>
                            <td>{{board.RAMType}}</td>
                            <td>{{board.MaxRam}}</td>
                            <td style="text-align: center;">{{board.RAMSlots}}</td>
                            <td>{{board.Color}}</td>
                            <td>{{board.Price}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        {% endif %}
                        
                        {% if req == "cooler" %}
                        <thead>
                        <h4 class="card-title">COOLER DATA</h4>
                        <tr>
                            <th>CoolerName</th>
                            <th>FanRPM</th>
                            <th>NoiseLevel</th>
                            <th>Color</th>
                            <th>RadiatorSize</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cooler in component %}
                        <tr>
                            <td>{{cooler.CoolerName}}</td>
                            <td>{{cooler.FanRPM}}</td>
                            <td>{{cooler.NoiseLevel}}</td>
                            <td>{{cooler.Color}}</td>
                            <td>{{cooler.RadiatorSize}}</td>
                            <td>{{cooler.Price}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        {% endif %}
                        
                        {% if req == "storage" %}
                        <thead>
                        <h4 class="card-title">STORAGE DATA</h4>
                        <tr>
                            <th>Name</th>
                            <th>Capacity</th>
                            <th>Type</th>
                            <th>Cache</th>
                            <th>FormFactor</th>
                            <th>Interface</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for storage in component %}
                        <tr>
                            <td>{{storage.StorageName}}</td>
                            <td>{{storage.Capacity}}</td>
                            <td>{{storage.Type}}</td>
                            <td>{{storage.Cache}}</td>
                            <td>{{storage.FormFactor}}</td>
                            <td>{{storage.Interface}}</td>
                            <td>{{storage.Price}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        {% endif %}
                        
                        {% if req == "cabinet" %}
                        <thead>
                        <h4 class="card-title">CABINET DATA</h4>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Color</th>
                            <th>SidePanelWindow</th>
                            <th>External/Internal Bays</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cabinet in component %}
                        <tr>
                            <td>{{cabinet.CabinetName}}</td>
                            <td>{{cabinet.Type}}</td>
                            <td>{{cabinet.Color}}</td>
                            <td>{{cabinet.SidePanelWindow}}</td>
                            <td style="text-align: center;">{{cabinet.ExternalBays}}/{{cabinet.InternalBays}}</td>
                            <td>{{cabinet.Price}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        {% endif %}
                        
                        {% if req == "psu" %}
                        <thead>
                        <h4 class="card-title">POWERSUPPLY DATA</h4>
                        <tr>
                            <th>Name</th>
                            <th>FormFactor</th>
                            <th>EfficiencyRating</th>
                            <th>Wattage</th>
                            <th>Moduler</th>
                            <th>Color</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for psu in component %}
                        <tr>
                            <td>{{psu.SmpsName}}</td>
                            <td>{{psu.FormFactor}}</td>
                            <td>{{psu.EfficiencyRating}}</td>
                            <td>{{psu.Wattage}}</td>
                            <td>{{psu.Modular}}</td>
                            <td>{{psu.Color}}</td>
                            <td>{{psu.Price}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
