{% extends "Admin/base.html" %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Message</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th> User name</th>
                        <th> Email Address</th>
                        <th> Message</th>
                        <th> Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for msg in msgs%}
                    <tr>
                        <td>{{msg.UserName}}</td>
                        <td>{{msg.UserEmail}}</td>
                        <td>{{msg.Message}}</td>
                        <td><p>{{msg.Date}}</p></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
