@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}






/* -----------    Custom Scroll Bar     -----------*/
::-webkit-scrollbar {
  width: 12px;
  background: #141414;
}
::-webkit-scrollbar-thumb {
  /* border-radius: 8px;
  border: 2px solid #6f00ff; */
  border-radius: 8px;
  background: linear-gradient(transparent, #6f00ff);
}
/* -----------    Custom Scroll Bar End     -----------*/





/* -----------    Explore Section     -----------*/
.Explore-heading {
  color: #fff;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
  position: relative;
  margin-top: 3rem;
}

.Explore-heading::after {
  content: "";
  position: absolute;
  display: block;
  width: 8rem;
  background-color: #6f00ff;
  height: 5px;
  left: 50%;
  bottom: -20%;
  transform: translateX(-50%);
}
/* -----------    Explore Section End     -----------*/






.active::after{
  height: 5px;
  content: "";
  position: absolute;
  background-color: #6f00ff;
  bottom: 1%;
  width: 100%;
}

body {
  background-color: #141414 !important;
}

.navbar {
  padding-bottom: 0rem !important;
  padding-top: 0rem !important;
  background: transparent;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}

.nav-list {
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  margin-left: 35px;
  border: 3px solid transparent;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 1.5px;
}

.nav-container li:last-child {
  -ms-transform: skewX(0deg);
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
  position: absolute;
  right: 5%;
}

.nav-list:last-child::before {
  height: 0px;
  width: 0%;
  background-color: transparent;
}

.sign-up {
  margin-right: 10px;
}

.nav-list::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #6f00ff;
  width: 0%;
  bottom: 1%;
}

.nav-list:hover::before {
  width: 100%;
}

nav .navbar-toggler {
  border: 2px solid transparent !important;
}

nav .navbar-toggler {
  border: 2px solid #6f00ff !important;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 1rem #6f00ff,
    0 0 0.4rem #6f00ff, 0 0 0.4rem #6f00ff;
}

.top-content {
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
}

.top-content p {
  font-size: 1.4rem;
}

.main-page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #000;
}

.main-page::before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.main-page .top-content {
    z-index: 888;
    color: #fff;
    margin-top: 50px;
    text-align: center;
}


.main-page video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Explore-cards {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.Explore-cards .card {
  margin: 10px;
}





/* -----------      Animations      -----------*/


 



/* -----------      Media Query      -----------*/

@media screen and (max-width: 991px) {
  .nav-list {
    margin-top: 10px;
    text-align: center;
  }

  .nav-list::before {
    height: 5px;
    content: "";
    background-color: #6f00ff;
    width: 0%;
    bottom: 1%;
    transform: translate(-50%, -50%);
  }

  .nav-list:hover::before {
    width: 20%;
  }

  .nav-container li:last-child {
    position: static;
  }

  nav .container-fluid {
    background: rgba(0, 0, 0, 0.1);
  }

  .navbar-nav {
    height: 40rem;
  }

  .active::after{
    height: 5px;
    content: "";
    position: absolute;
    background-color: #6f00ff;
    width: 20%;
    bottom: 1%;
    transform: translate(-50%, -50%);
  }
}
