<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Include CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/bootstrap.min.css')}}" />

    <title>App</title>
</head>

<body>

    <!-- Nav-Bar (Header)  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transperent fixed-top" id="Navbar">
        <div class="container-fluid" id="container-fluid">
            <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='User/IMG/PCB-LOGO.png')}}" alt=""
                    width="60"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse m-3" id="navbarNav">

                <ul class="navbar-nav nav-container">
                    <li class="nav-item nav-list">
                        <a class="nav-link" aria-current="page" href='/index'>Home</a>
                    </li>
                    <li class="nav-item nav-list">
                        <a class="nav-link" href="#">Products</a>
                    </li>
                    <li class="nav-item nav-list">
                        <a class="nav-link" href="#">About-Us</a>
                    </li>
                    <li class="nav-item nav-list">
                        <a class="nav-link" href="#">Contact</a>
                    </li>

                    <li class="nav-item nav-list">
                        <button class="btn btn-outline-pcb sign-up" type="submit">Sign-Up</button>
                        <button class="btn btn-outline-pcb log-in" type="submit">Log-In</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="build-pc-div">
        <h1 class="build-pc-heading">Build PC</h1>
    </div>



    <p class="components-notice position-absolute start-50 translate-middle-x mt-3">
        <span id="pc-component-note-span">*</span> You can Build pc Automatically as per your Budget.
    </p>

    <div class="main-container">

        <!-- Price Range Slider (Budget Slider) -->
        <div class="budget-slider w-50 mx-auto">
            <center><label for="customRange1" class="form-label text-light w-75 slider-label fs-5" >Enter Budget</label></center>
            <input type="range" class="form-range slider-input" id="customRange1" min="5000" max="500000" value="50">

        </form>

        <div class="products-table-1 mx-auto table-responsive">
            <table class="table table-bordered text-light" id="products-table-1">
                <thead>
                    <tr>
                        <th scope="col">Component</th>
                        <th scope="col">Picked</th>
                        <th scope="col">Price</th>
                        <th scope="col">Shipping</th>
                        <th scope="col">Add</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">CPU</th>
                    <td>CPU Modal Information</td>
                    <td>5000 ₹</td>
                    <td>Free</td>
                    <td>
                        <button type="submit" class="btn btn-outline-pcb" id="table-close-btn"><span aria-hidden="true">&times;</span></button>
                    </td>  
                  </tr>
                  <tr>
                    <th scope="row">CPU Cooler</th>
                    <td>CPU Info</td>
                    <td>5000 ₹</td>
                    <td>Free</td>
                    <td>
                        <button type="submit" class="btn btn-outline-pcb" id="table-close-btn"><span aria-hidden="true">&times;</span></button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Ram</th>
                    <td>Ram Info</td>
                    <td>5000 ₹</td>
                    <td>Free</td>
                    <td>
                        <button type="submit" class="btn btn-outline-pcb" id="table-close-btn"><span aria-hidden="true">&times;</span></button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Graphics Card</th>
                    <td>GPU Info</td>
                    <td>5000 ₹</td>
                    <td>Free</td>
                    <td>
                        <button type="submit" class="btn btn-outline-pcb" id="table-close-btn"><span aria-hidden="true">&times;</span></button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Motherboadr</th>
                    <td>Motherboard Info</td>
                    <td>5000 ₹</td>
                    <td>Free</td>
                    <td>
                        <button type="submit" class="btn btn-outline-pcb" id="table-close-btn"><span aria-hidden="true">&times;</span></button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Storage</th>
                    <td>Storage Info</td>
                    <td>5000 ₹</td>
                    <td>Free</td>
                    <td>
                        <button type="submit" class="btn btn-outline-pcb" id="table-close-btn"><span aria-hidden="true">&times;</span></button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Power Supply</th>
                    <td>PCU Info</td>
                    <td>5000 ₹</td>
                    <td>Free</td>
                    <td>
                        <button type="submit" class="btn btn-outline-pcb" id="table-close-btn"><span aria-hidden="true">&times;</span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            
              <!-- <div class="d-flex justify-content-center">
                <ul class="list-group w-50 text-center">
                    <li class="list-group-item bg-dark text-light"><h5>Total Amout :</h5></li>
                    <li class="list-group-item bg-dark text-light fw-bold d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div>Shipping Cost:</div>
                        </div>
                        <span class="shipping-cost">₹ 0.00</span>
                    </li>

                    <li class="list-group-item bg-dark text-light fw-bold d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div>PC Parts Cost:</div>
                        </div>
                        <span class="pc-parts-cost">₹ 35,000</span>
                    </li>

                    <li class="list-group-item bg-dark text-success fs-5 fw-bold d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div>Total Cost:</div>
                        </div>
                        <span class="total-cost">₹ 35,000</span>
                    </li>
                </ul>
              </div> -->
            <div class="budget-input w-25 mx-auto">
                <span class="input-group-text">₹</span>
                <input type="text" class="form-control budget-input" aria-describedby="inputGroupPrepend2">
            </div>

        </div>

    </div>

    <!-- Include JavaScript -->
    <script src="{{url_for('static', filename='User/JS/index.js')}}"></script>
    <script src="{{url_for('static', filename='User/JS/bootstrap.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>


</html>