<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Include CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/bootstrap.min.css')}}" />

    <title>App</title>
</head>

<body>

    <!-- Nav-Bar (Header)  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transperent fixed-top" id="Navbar">
        <div class="container-fluid" id="container-fluid">
            <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='User/IMG/PCB-LOGO.png')}}" alt=""
                    width="60"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse m-3" id="navbarNav">

                <ul class="navbar-nav nav-container">
                    <li class="nav-item nav-list">
                        <a class="nav-link" aria-current="page" href='/index'>Home</a>
                    </li>
                    <li class="nav-item nav-list">
                        <a class="nav-link" href="#">Products</a>
                    </li>
                    <li class="nav-item nav-list">
                        <a class="nav-link" href="#">About-Us</a>
                    </li>
                    <li class="nav-item nav-list">
                        <a class="nav-link" href="#">Contact</a>
                    </li>

                    <li class="nav-item nav-list">
                        <button class="btn btn-outline-pcb sign-up" type="submit">Sign-Up</button>
                        <button class="btn btn-outline-pcb log-in" type="submit">Log-In</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="build-pc-div">
        <h1 class="build-pc-heading">Build PC</h1>
    </div>



    <p class="components-notice position-absolute start-50 translate-middle-x mt-3">
        <span id="pc-component-note-span">*</span> You can Build pc Automatically as per your Budget.
    </p>

    <div class="main-container">

        <!-- Price Range Slider (Budget Slider) -->
        <div class="budget-slider w-50 mx-auto">
            <center><label for="customRange1" class="form-label text-light w-75 slider-label fs-5" >Enter Budget</label></center>
            <input type="range" class="form-range slider-input" id="customRange1" min="5000" max="500000" value="50">

            <div class="budget-input w-25 mx-auto">
                <span class="input-group-text">₹</span>
                <input type="text" class="form-control budget-input" aria-describedby="inputGroupPrepend2">
            </div>

        </div>

    </div>

    <!-- Include JavaScript -->
    <script src="{{url_for('static', filename='User/JS/index.js')}}"></script>
    <script src="{{url_for('static', filename='User/JS/bootstrap.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>


</html>