<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Include CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/bootstrap.min.css')}}" />

    <title>App</title>
</head>

<body>

    <!-- Nav-Bar (Header)  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transperent fixed-top" id="Navbar">
        <div class="container-fluid" id="container-fluid">
            <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='User/IMG/PCB-LOGO.png')}}" alt=""
                    width="60"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse m-3" id="navbarNav">

                <ul class="navbar-nav nav-container">
                    <li class="nav-item nav-list">
                        <a class="nav-link" aria-current="page" href='/index'>Home</a>
                    </li>
                    <li class="nav-item nav-list">
                        <a class="nav-link" href="#">Products</a>
                    </li>
                    <li class="nav-item nav-list">
                        <a class="nav-link" href="#">About-Us</a>
                    </li>
                    <li class="nav-item nav-list">
                        <a class="nav-link" href="#">Contact</a>
                    </li>

                    <li class="nav-item nav-list">
                        <button class="btn btn-outline-pcb sign-up" type="submit">Sign-Up</button>
                        <button class="btn btn-outline-pcb log-in" type="submit">Log-In</button>
                    </li>
                </ul>

            </div>
    </nav>




    <div class="build-pc-div">
        <h1 class="build-pc-heading">Build PC</h1>
    </div>


<div class="build-pc-section">
        <p class="components-notice position-absolute start-50 translate-middle-x">
            <span id="pc-component-note-span">*</span> You can view components as per your selected category.
        </p>


        <div class="pc-bucket position-absolute start-50 translate-middle-x">

            <!-- 1 -->
            <div class="card-group"> 
                <div class="card bg-dark select-component-box" style="height: 8rem;">
                    <div class="card-body">
                        <h5 class="card-title">CPU</h5>
                        <a href='/buildpc'><button type="button" class="btn btn-outline-pcb">+ Add</button></a>
                    </div>
                </div>

                <div class="card bg-dark select-component-box" style="height: 8rem;">
                    <div class="card-body">
                        <h5 class="card-title">CPU Cooler</h5>
                        <a href='/buildpc'><button type="button" class="btn btn-outline-pcb">+ Add</button></a>
                    </div>
                </div>
            </div>
            <!-- 1 end -->

            <!-- 2 -->
            <div class="card-group"> 
                <div class="card bg-dark select-component-box" style="height: 8rem;">
                    <div class="card-body">
                        <h5 class="card-title">RAM</h5>
                        <a href='/buildpc'><button type="button" class="btn btn-outline-pcb">+ Add</button></a>
                    </div>
                </div>

                <div class="card bg-dark select-component-box" style="height: 8rem;">
                    <div class="card-body">
                        <h5 class="card-title">Graphics Card</h5>
                        <a href='/buildpc'><button type="button" class="btn btn-outline-pcb">+ Add</button></a>
                    </div>
                </div>
            </div>
            <!-- 2 end -->

            <!-- 3 -->
            <div class="card-group"> 
                <div class="card bg-dark select-component-box" style="height: 8rem;">
                    <div class="card-body">
                        <h5 class="card-title">Motherboard</h5>
                        <a href='/buildpc'><button type="button" class="btn btn-outline-pcb">+ Add</button></a>
                    </div>
                </div>

                <div class="card bg-dark select-component-box" style="height: 8rem;">
                    <div class="card-body">
                        <h5 class="card-title">Storage</h5>
                        <a href='/buildpc'><button type="button" class="btn btn-outline-pcb">+ Add</button></a>
                    </div>
                </div>
            </div>
            <!-- 3 end -->


        </div>
    

</div>


</body>

<!-- Include JavaScript -->
<script src="{{url_for('static', filename='User/JS/index.js')}}"></script>
<script src="{{url_for('static', filename='User/JS/bootstrap.min.js')}}"></script>

</html>