<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Include CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/bootstrap.min.css')}}" />

    <title>PCB | AutoBuild</title>
</head>

<body>
    <!-- Nav-Bar (Header)  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transperent fixed-top" id="Navbar">
    <div class="container-fluid" id="container-fluid">
        <a class="navbar-brand" href="/index"><img src="{{url_for('static', filename='User/IMG/PCB-LOGO.png')}}" alt=""
                                                   width="60"></a>
        <button class="navbar-toggler" id="menu-btn-res" type="button" onclick="hamburgerOff()"
                data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse m-3" id="navbarNav">
            
            <ul class="navbar-nav nav-container">
                <li class="nav-item nav-list active">
                    <a class="nav-link" aria-current="page" href="/index">Home</a>
                </li>
                <li class="nav-item nav-list">
                    <a class="nav-link" href="/searchparts">Products</a>
                </li>
                <li class="nav-item nav-list">
                    <a class="nav-link" href="/about">About-Us</a>
                </li>
                <li class="nav-item nav-list">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                
                <li class="nav-item nav-list">
                    {% if not session.get('userid')%}
                    <a href='/login'>
                        <button class="btn btn-outline-pcb log-in" type="submit">Log-In</button>
                    </a>
                    {% endif%}
                    {% if session['userid']%}
                    <a href='/logout'>
                        <button class="btn btn-outline-pcb log-in" type="submit">Log-Out</button>
                    </a>
                    {% endif%}
                </li>
            </ul>
        
        </div>
    </div>
</nav>


    <div class="build-pc-div">
        <h1 class="build-pc-heading">Build Name Here</h1>
    </div>


    <div class="main-container">

        <div class="products-table-1 mx-auto table-responsive">
            <table class="table table-bordered text-light" id="products-table-1">
                <thead>
                    <tr>
                        <th scope="col">Component</th>
                        <th scope="col">Picked</th>
                        <th scope="col">Price</th>
                        <th scope="col">Shipping</th>
                        <th scope="col">Cencel / Add</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">CPU</th>
                        <td>CPU Modal Information</td>
                        <td>5000 ₹</td>
                        <td>Free</td>
                        <td>
                            <button type="submit" class="btn btn-outline-pcb" id="table-close-btn">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">CPU Cooler</th>
                        <td>CPU Info</td>
                        <td>5000 ₹</td>
                        <td>Free</td>
                        <td>
                            <button type="submit" class="btn btn-outline-pcb" id="table-close-btn">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Ram</th>
                        <td>Ram Info</td>
                        <td>5000 ₹</td>
                        <td>Free</td>
                        <td>
                            <button type="submit" class="btn btn-outline-pcb" id="table-close-btn">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Graphics Card</th>
                        <td>GPU Info</td>
                        <td>5000 ₹</td>
                        <td>Free</td>
                        <td>
                            <button type="submit" class="btn btn-outline-pcb" id="table-close-btn">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Motherboadr</th>
                        <td>Motherboard Info</td>
                        <td>5000 ₹</td>
                        <td>Free</td>
                        <td>
                            <button type="submit" class="btn btn-outline-pcb" id="table-close-btn">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Storage</th>
                        <td>Storage Info</td>
                        <td>5000 ₹</td>
                        <td>Free</td>
                        <td>
                            <button type="submit" class="btn btn-outline-pcb" id="table-close-btn">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Power Supply</th>
                        <td>PCU Info</td>
                        <td>5000 ₹</td>
                        <td>Free</td>
                        <td>
                            <button type="submit" class="btn btn-outline-pcb" id="table-close-btn">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-end">
                <ul class="list-group w-25">
                    <li class="list-group-item bg-dark text-light">
                        <h5>Total Amout :</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>





    <!-- Footer -->
<div class="main-footer-class bg-dark text-light">
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-2">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/index" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="/searchparts" class="nav-link p-0 text-muted">Products</a>
                        </li>
                        <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-muted">About-Us</a></li>
                        <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-muted">Contact-Us</a></li>
                    </ul>
                </div>
                
                <div class="col-2">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/buildpc" class="nav-link p-0 text-muted">Build PC</a></li>
                        <li class="nav-item mb-2"><a href="usersbuilds" class="nav-link p-0 text-muted">Users Build</a>
                        </li>
                        <li class="nav-item mb-2"><a href="/viewbuilds" class="nav-link p-0 text-muted">Your Builds</a>
                        </li>
                        <li class="nav-item mb-2"><a href="/autobuild" class="nav-link p-0 text-muted">Auto Build</a>
                        </li>
                    </ul>
                </div>
                
                <div class="col-2">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/searchparts" class="nav-link p-0 text-muted">Search
                            Components</a></li>
                        <li class="nav-item mb-2"><a href="/buildguide" class="nav-link p-0 text-muted">Build Guide</a>
                        </li>
                    </ul>
                </div>
                
                <div class="col-4 offset-1">
                    <div class="d-flex w-100 gap-2 ms-5">
                        <a href="/index"><img src="{{url_for('static', filename='User/IMG/PCB-LOGO.png')}}" alt=""
                                              class="footer-logo"></a>
                    </div>
                </div>
            
            </div>
            
            <div class="d-flex justify-content-center py-4 my-4 border-top">
                <p>&copy; 2022 PC BUILDER, Inc. All rights reserved.</p>
            </div>
        </footer>
    </div>
</div>
<!-- Footer Ends Here -->



    <!-- Include JavaScript -->
    <script src="{{url_for('static', filename='User/JS/index.js')}}"></script>
    <script src="{{url_for('static', filename='User/JS/bootstrap.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>