<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- Include CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/style.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/bootstrap.min.css')}}"/>
    <link rel="stylesheet"
          href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    
    
    <title>PCB | Rate Builds</title>
</head>

<body>
<!-- Nav-Bar (Header)  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transperent fixed-top" id="Navbar">
    <div class="container-fluid" id="container-fluid">
        <a class="navbar-brand" href="/index"><img src="{{url_for('static', filename='User/IMG/PCB-LOGO.png')}}" alt=""
                                                   width="60"></a>
        <button class="navbar-toggler" id="menu-btn-res" type="button" onclick="hamburgerOff()"
                data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse m-3" id="navbarNav">
            
            <ul class="navbar-nav nav-container">
                <li class="nav-item nav-list active">
                    <a class="nav-link" aria-current="page" href="/index">Home</a>
                </li>
                <li class="nav-item nav-list">
                    <a class="nav-link" href="/searchparts">Products</a>
                </li>
                <li class="nav-item nav-list">
                    <a class="nav-link" href="/about">About-Us</a>
                </li>
                <li class="nav-item nav-list">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item nav-list">
                    {% if not session.get('userid')%}
                    <a href='/login'>
                        <button class="btn btn-outline-pcb log-in" type="submit">Log-In</button>
                    </a>
                    {% endif%}
                    {% if session['userid']%}
                    <a href='/logout'>
                        <button class="btn btn-outline-pcb log-in" type="submit">Log-Out</button>
                    </a>
                    {% endif%}
                </li>
            </ul>
        
        </div>
    </div>
</nav>


<div class="build-pc-div">
    <h1 class="build-pc-heading">Build Information</h1>
</div>

<div class="main-container mt-5">
    
    <div class="selling-pc-img ms-4">
        <img src="{{url_for('static', filename='User/IMG/pc.jpg')}}" class="rounded float-start"
             style="height: 65vh;width: 48%;" id="sell-card-img" alt="...">
        <div class="card-body bg-dark float-end w-50 mh-100 me-3 rounded" style="height: auto;" id="sell-info-card">
            <div class="sell-card-info mx-auto">
                <h5 class="card-title">Information</h5>
                <h6 class="card-title">Processor</h6>
                <table class="table table-bordered text-light mt-4" id="products-table-1">
                    <tbody>
                    {% if data %}
                    {% if comp=='cpu' %}
                    <tr>
                        <th scope="row">CPU Name</th>
                        <td>{{data.CPUName}}</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Core</th>
                        <td>{{data.CoreCount}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Clock Speed</th>
                        <td>{{data.ClockSpeed}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Boost Clock Speed</th>
                        <td>{{data.BoostClock}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Socket Type</th>
                        <td>{{data.SocketType}}</td>
                    </tr>
                    <tr>
                        <th scope="row">TDP</th>
                        <td>{{data.TDP}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Integrated Graphics</th>
                        <td>{{data.IntegratedGraphics}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Price</th>
                        <td>{{data.Price}}</td>
                    </tr>
                    {% endif %}
                    {% if comp=='board' %}
                    <tr>
                        <th scope="row">MotherBoard Name</th>
                        <td>{{data.BoardName}}</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Socket Type</th>
                        <td>{{data.SocketType}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Form Factor</th>
                        <td>{{data.FormFactor}}</td>
                    </tr>
                    <tr>
                        <th scope="row">RAM Type</th>
                        <td>{{data.RAMType}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Max RAM</th>
                        <td>{{data.MaxRam}}</td>
                    </tr>
                    <tr>
                        <th scope="row">RAM Slots</th>
                        <td>{{data.RAMSlots}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Price</th>
                        <td>{{data.Price}}</td>
                    </tr>
                    {% endif %}
                    {% if comp=='gpu' %}
                    <tr>
                        <th scope="row">Graphics Card Name</th>
                        <td>{{data.GPUName}}</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Chipset</th>
                        <td>{{data.Chipset}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Memory</th>
                        <td>{{data.Memory}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Clock Speed</th>
                        <td>{{data.CoreClock}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Boost Clock Speed</th>
                        <td>{{data.BoostClock}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Price</th>
                        <td>{{data.Price}}</td>
                    </tr>
                    {% endif %}
                    {% if comp=='ram' %}
                    <tr>
                        <th scope="row">RAM Name</th>
                        <td>{{data.RAMName}}</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Type</th>
                        <td>{{data.Type}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Speed</th>
                        <td>{{data.Speed}}MHz</td>
                    </tr>
                    <tr>
                        <th scope="row">Size</th>
                        <td>{{data.SizePerModule}}GB</td>
                    </tr>
                    <tr>
                        <th scope="row">First Word Latency</th>
                        <td>{{data.FirstWordLatency}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Price</th>
                        <td>{{data.PricePerModule}}</td>
                    </tr>
                    {% endif %}
                    {% if comp=='cooler' %}
                    <tr>
                        <th scope="row">Cooler Name</th>
                        <td>{{data.CoolerName}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Radiator Size</th>
                        <td>{{data.RadiatorSize}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Fan RPM</th>
                        <td>{{data.FanRPM}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Noise Level</th>
                        <td>{{data.NoiseLevel}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Price</th>
                        <td>{{data.Price}}</td>
                    </tr>
                    {% endif %}
                    {% if comp=='psu' %}
                    <tr>
                        <th scope="row">Power Supply Name</th>
                        <td>{{data.SmpsName}}</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Form Factor</th>
                        <td>{{data.FormFactor}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Efficiency Rating</th>
                        <td>{{data.EfficiencyRating}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Wattage</th>
                        <td>{{data.Wattage}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Price</th>
                        <td>{{data.Price}}</td>
                    </tr>
                    {% endif %}
                    {% if comp=='cab' %}
                    <tr>
                        <th scope="row">cabinet Name</th>
                        <td>{{data.CabinetName}}</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Form Factor</th>
                        <td>{{data.Type}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Side Panel</th>
                        <td>{{data.SidePanelWindow}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Internal Bays</th>
                        <td>{{data.InternalBays}}</td>
                    </tr>
                    <tr>
                        <th scope="row">External Bays</th>
                        <td>{{data.ExternalBays}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Price</th>
                        <td>{{data.Price}}</td>
                    </tr>
                    {% endif %}
                    {% if comp=='hdd' %}
                    <tr>
                        <th scope="row">Storage Name</th>
                        <td>{{data.StorageName}}</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Storage Capacity</th>
                        <td>{{data.Capacity}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Type</th>
                        <td>{{data.Type}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Cache</th>
                        <td>{{data.Cache}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Form Factor</th>
                        <td>{{data.FormFactor}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Interface</th>
                        <td>{{data.Interface}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Price</th>
                        <td>{{data.Price}}</td>
                    </tr>
                    {% endif %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            
            
            <!-- Modal -->
        
        
        </div>
    </div>


</div>


<!-- Include JavaScript -->
<script src="{{url_for('static', filename='User/JS/index.js')}}"></script>
<script src="{{url_for('static', filename='User/JS/bootstrap.min.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>