<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Include CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/bootstrap.min.css')}}" />

    <title>App</title>
</head>

<body>


    
    <!-- Nav-Bar (Header)  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transperent fixed-top" id="Navbar">
        <div class="container-fluid" id="container-fluid">
            <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='User/IMG/PCB-LOGO.png')}}" alt="" width="60"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse m-3" id="navbarNav">

                <ul class="navbar-nav nav-container">
                    <li class="nav-item nav-list active">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item nav-list">
                        <a class="nav-link" href="#">Products</a>
                    </li>
                    <li class="nav-item nav-list">
                        <a class="nav-link" href="#">About-Us</a>
                    </li>
                    <li class="nav-item nav-list">
                        <a class="nav-link" href="#">Contact</a>
                    </li>

                    <li class="nav-item nav-list">
                        <button class="btn btn-outline-pcb sign-up" type="submit">Sign-Up</button>
                        <button class="btn btn-outline-pcb log-in" type="submit">Log-In</button>
                    </li>
                </ul>

            </div>
    </nav>

    <section class="main-page">
        <video src="{{url_for('static', filename='User/VIDEOS/4.mp4')}}" autoplay muted loop class="video-play"></video>

        <div class="top-content ml3">
            <h1>WELCOME TO PC BUILDER</h1>
            <p>BUILD YOUR DREAM PC NOW</p>
            <button class="btn btn-outline-pcb sign-up" type="submit">Build Now</button>
            <button class="btn btn-outline-pcb sign-up" type="submit">Explore</button>
        </div>
    </section>


    <div class="Explore">

        <div class="Explore-div">
            <h1 class="Explore-heading">Explore</h1>
        </div>

        <div class="card-group">
            <div class="card explore-crd">
                <div class="card-body">
                    <h5 class="card-title">
                    <img src="{{url_for('static', filename='User/IMG/build.png')}}" alt="" class="cards-icons">
                    Build PC</h5>
                    <p class="card-text">Build your PC by adding components.</p>
                    <a href='/buildpc'><button type="button" class="btn btn-outline-pcb">BUILD NOW</button></a>
                </div>
            </div>

            <div class="card explore-crd">
                <div class="card-body">
                    <h5 class="card-titl/e">
                        <img src="{{url_for('static', filename='User/IMG/customize.png')}}" alt="" class="cards-icons">
                        Customize</h5>
                    <p class="card-text">Customize the Build which Builded previously.</p>
                    <button type="button" class="btn btn-outline-pcb">CUSTOMIZE</button>
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card explore-crd">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="{{url_for('static', filename='User/IMG/search-components.png')}}" alt="" class="cards-icons">
                        Search Components</h5>
                    <p class="card-text">Search the components which you are looking for.</p>
                    <button type="button" class="btn btn-outline-pcb">SEARCH</button>
                </div>
            </div>

            <div class="card explore-crd">
                <div class="card-body">
                    <h5 class="card-titl/e">
                        <img src="{{url_for('static', filename='User/IMG/auto-build.png')}}" alt="" class="cards-icons">
                        Auto Build</h5>
                    <p class="card-text">Build PC by just entering your budget & needs</p>
                    <button type="button" class="btn btn-outline-pcb">AUTO BUILD</button>
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card explore-crd">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="{{url_for('static', filename='User/IMG/build-guide.png')}}" alt="" class="cards-icons">
                        Build Guide</h5>
                    <p class="card-text">Read Build Guide if you dont have enough knowledge about pc build.</p>
                    <button type="button" class="btn btn-outline-pcb">READ GUIDE</button>
                </div>
            </div>

            <div class="card explore-crd">
                <div class="card-body">
                    <h5 class="card-titl/e">
                        <img src="{{url_for('static', filename='User/IMG/second-hand-pc.png')}}" alt="" class="cards-icons">
                        Second Hand PC</h5>
                    <p class="card-text">Buy Second hand PC & Sell PC</p>
                    <button type="button" class="btn btn-outline-pcb">BUY / SELL</button>
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card explore-crd">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="{{url_for('static', filename='User/IMG/users-build.png')}}" alt="" class="cards-icons">
                        Users Build</h5>
                    <p class="card-text">View & Rate other users PC Builds</p>
                    <button type="button" class="btn btn-outline-pcb">VIEW / RATE</button>
                </div>
            </div>

            <div class="card explore-crd">
                <div class="card-body">
                    <h5 class="card-titl/e">Other...</h5>
                    <p class="card-text">st to show that equal height action.</p>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Include JavaScript -->
    <script src="{{url_for('static', filename='User/JS/index.js')}}"></script>
    <script src="{{url_for('static', filename='User/JS/bootstrap.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>


</html>