<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Include CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/bootstrap.min.css')}}" />

    <title>App</title>
</head>

<body>

    <!-- Nav-Bar (Header)  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transperent fixed-top">
        <div class="container-fluid" id="container-fluid">
          <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='User/IMG/PCB-LOGO.png')}}" alt="" width="60"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse m-3" id="navbarNav">

            <ul class="navbar-nav nav-container">
              <li class="nav-item nav-list active">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item nav-list">
                <a class="nav-link" href="#">Products</a>
              </li>
              <li class="nav-item nav-list">
                <a class="nav-link" href="#">About-Us</a>
              </li>
              <li class="nav-item nav-list">
                <a class="nav-link" href="#">Contact</a>
              </li>

              <li class="nav-item nav-list">
                <button class="btn btn-outline-pcb sign-up"  type="submit">Sign-Up</button>
                <button class="btn btn-outline-pcb log-in" type="submit">Log-In</button>
              </li>
            </ul>

        </div>
        </nav>

      <section class="main-page">
        <video src="{{url_for('static', filename='User/VIDEOS/4.mp4')}}" autoplay muted loop class="video-play"></video>

        <div class="top-content">
          <h1>WELCOME TO PC BUILDER</h1>
          <p>BUILD YOUR DREAM PC NOW</p>
          <button class="btn btn-outline-pcb sign-up"  type="submit">Build Now</button>
          <button class="btn btn-outline-pcb sign-up"  type="submit">Explore</button>
        </div>
      </section>


      <div class="Explore">

        <div class="Explore-div">
          <h1 class="Explore-heading">Explore</h1>
        </div>

          <div class="Explore-cards">


            <div class="card mb-3 text-white bg-dark" style="max-width: 400px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/static/User/IMG/build-pc.svg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-3" style="max-width: 400px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-3" style="max-width: 400px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>


          </div>
          
      </div>

</body>

<!-- Include JavaScript -->
<script src="{{url_for('static', filename='User/JS/index.js')}}"></script>
<script src="{{url_for('static', filename='User/JS/bootstrap.min.js')}}"></script>

</html>
