<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- Include CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/style.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/bootstrap.min.css')}}"/>
    <link rel="stylesheet"
          href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    
    
    <title>PCB | Rate Builds</title>
</head>

<body>
<!-- Nav-Bar (Header)  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transperent fixed-top" id="Navbar">
    <div class="container-fluid" id="container-fluid">
        <a class="navbar-brand" href="/index"><img src="{{url_for('static', filename='User/IMG/PCB-LOGO.png')}}" alt=""
                                                   width="60"></a>
        <button class="navbar-toggler" id="menu-btn-res" type="button" onclick="hamburgerOff()"
                data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse m-3" id="navbarNav">
            
            <ul class="navbar-nav nav-container">
                <li class="nav-item nav-list active">
                    <a class="nav-link" aria-current="page" href="/index">Home</a>
                </li>
                <li class="nav-item nav-list">
                    <a class="nav-link" href="/searchparts">Products</a>
                </li>
                <li class="nav-item nav-list">
                    <a class="nav-link" href="/about">About-Us</a>
                </li>
                <li class="nav-item nav-list">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item nav-list">
                    {% if not session.get('userid')%}
                    <a href='/login'>
                        <button class="btn btn-outline-pcb log-in" type="submit">Log-In</button>
                    </a>
                    {% endif%}
                    {% if session['userid']%}
                    <a href='/logout'>
                        <button class="btn btn-outline-pcb log-in" type="submit">Log-Out</button>
                    </a>
                    {% endif%}
                </li>
            </ul>
        
        </div>
    </div>
</nav>


<div class="build-pc-div">
    <h1 class="build-pc-heading">Build Information</h1>
</div>

<div class="main-container mt-5">
    
    <div class="selling-pc-img ms-4">
        <img src="{{url_for('static', filename='User/IMG/pc.jpg')}}" class="rounded float-start"
             style="height: 65vh;width: 48%;" id="sell-card-img" alt="...">
        <div class="card-body bg-dark float-end w-50 mh-100 me-3 rounded" style="height: auto;" id="sell-info-card">
            <div class="sell-card-info mx-auto">
                <h5 class="card-title">Information</h5>
                <table class="table table-bordered text-light mt-4" id="products-table-1">
                    <tbody>
                    <tr>
                        <th scope="row">CPU</th>
                        <td><strong>{{pc[0][0][0][5]}}</strong>
                            <p>{{pc[0][0][0][6]}}: {{pc[0][0][0][7]}}|{{pc[0][0][0][8]}}:
                                {{pc[0][0][0][9]}}|{{pc[0][0][0][10]}}: {{pc[0][0][0][11]}}</p>
                            <p>{{pc[0][0][0][12]}}: {{pc[0][0][0][13]}}|{{pc[0][0][0][14]}}:
                                {{pc[0][0][0][15]}}|{{pc[0][0][0][22]}}: {{pc[0][0][0][23]}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Board</th>
                        <td><strong>{{pc[0][1][0][5]}}</strong>
                            <p>{{pc[0][1][0][6]}}: {{pc[0][1][0][7]}}|{{pc[0][1][0][8]}}:
                                {{pc[0][1][0][9]}}|{{pc[0][1][0][10]}}: {{pc[0][1][0][11]}}</p>
                            <p>{{pc[0][1][0][12]}}: {{pc[0][1][0][13]}}|{{pc[0][1][0][14]}}:
                                {{pc[0][1][0][15]}}|{{pc[0][1][0][16]}}: {{pc[0][1][0][17]}}|{{pc[0][1][0][20]}}: {{pc[0][1][0][21]}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Graphics Card</th>
                        <td><strong>{{pc[0][7][0][5]}}</strong>
                            <p>{{pc[0][7][0][6]}}: {{pc[0][7][0][7]}}|{{pc[0][7][0][8]}}:
                                {{pc[0][7][0][9]}}|{{pc[0][7][0][10]}}: {{pc[0][7][0][11]}}</p>
                            <p>{{pc[0][7][0][12]}}: {{pc[0][7][0][13]}}|{{pc[0][7][0][14]}}:
                                {{pc[0][7][0][15]}}|{{pc[0][7][0][16]}}: {{pc[0][7][0][17]}}|{{pc[0][7][0][20]}}: {{pc[0][7][0][21]}}{{pc[0][7][0][22]}}</p>
                        </td>
                    </tr>
                    
                    <tr>
                        <th scope="row">RAM</th>
                        <td><strong>{{pc[0][3][0][5]}}</strong>
                            <p>{{pc[0][3][0][6]}}: {{pc[0][3][0][7]}}|{{pc[0][3][0][8]}}:
                                {{pc[0][3][0][9]}}|{{pc[0][3][0][10]}}: {{pc[0][3][0][11]}}</p>
                            <p>{{pc[0][3][0][12]}}: {{pc[0][3][0][13]}}|{{pc[0][3][0][14]}}:
                                {{pc[0][3][0][15]}}|{{pc[0][3][0][16]}}: {{pc[0][3][0][17]}}</p><p>{{pc[0][3][0][24]}}: {{pc[0][3][0][25]}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Storage</th>
                        <td><strong>{{pc[0][4][0][5]}}</strong>
                            <p>{{pc[0][4][0][6]}}: {{pc[0][4][0][7]}}|{{pc[0][4][0][8]}}:
                                {{pc[0][4][0][9]}}|{{pc[0][4][0][10]}}: {{pc[0][4][0][11]}}</p>
                            <p>{{pc[0][4][0][12]}}: {{pc[0][4][0][13]}}|{{pc[0][4][0][14]}}:
                                {{pc[0][4][0][15]}}|{{pc[0][4][0][18]}}: {{pc[0][4][0][19]}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Power Supply</th>
                        <td><strong>{{pc[0][2][0][5]}}</strong>
                            <p>{{pc[0][2][0][6]}}: {{pc[0][2][0][7]}}|{{pc[0][2][0][8]}}:
                                {{pc[0][2][0][9]}}|{{pc[0][2][0][10]}}: {{pc[0][2][0][11]}}</p>
                            <p>{{pc[0][2][0][12]}}: {{pc[0][2][0][13]}}|{{pc[0][2][0][14]}}:
                                {{pc[0][2][0][15]}}|{{pc[0][2][0][18]}}: {{pc[0][2][0][19]}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Cooler</th>
                        <td><strong>{{pc[0][5][0][5]}}</strong>
                            <p>{{pc[0][5][0][6]}}: {{pc[0][5][0][7]}}|{{pc[0][5][0][8]}}:
                                {{pc[0][5][0][9]}}|{{pc[0][5][0][10]}}: {{pc[0][5][0][11]}}</p>
                            <p>{{pc[0][5][0][12]}}: {{pc[0][5][0][13]}}|{{pc[0][5][0][14]}}:
                                {{pc[0][5][0][15]}}|{{pc[0][5][0][16]}}: {{pc[0][5][0][17]}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Cabinet</th>
                        <td><strong>{{pc[0][6][0][5]}}</strong>
                            <p>{{pc[0][6][0][6]}}: {{pc[0][6][0][7]}}|{{pc[0][6][0][8]}}:
                                {{pc[0][6][0][9]}}|{{pc[0][6][0][10]}}: {{pc[0][6][0][11]}}</p>
                            <p>{{pc[0][6][0][12]}}: {{pc[0][6][0][13]}}|{{pc[0][6][0][14]}}:
                                {{pc[0][6][0][15]}}|{{pc[0][6][0][16]}}: {{pc[0][6][0][17]}}|{{pc[0][6][0][20]}}: {{pc[0][6][0][21]}}{{pc[0][6][0][22]}}</p>
                        </td>
                    </tr>
                    
                    </tbody>
                </table>
            </div>
            
            
            <!-- Modal -->
        
        
        </div>
    </div>


</div>


<!-- Include JavaScript -->
<script src="{{url_for('static', filename='User/JS/index.js')}}"></script>
<script src="{{url_for('static', filename='User/JS/bootstrap.min.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>