<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- Include CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/style.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='User/CSS/bootstrap.min.css')}}"/>
    <link rel="stylesheet"
          href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    
    
    <title>PCB | Search Parts</title>
</head>

<body>
<!-- Nav-Bar (Header)  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transperent fixed-top" id="Navbar">
    <div class="container-fluid" id="container-fluid">
        <a class="navbar-brand" href="/index"><img src="{{url_for('static', filename='User/IMG/PCB-LOGO.png')}}" alt=""
                                                   width="60"></a>
        <button class="navbar-toggler" id="menu-btn-res" type="button" onclick="hamburgerOff()"
                data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse m-3" id="navbarNav">
            
            <ul class="navbar-nav nav-container">
                <li class="nav-item nav-list active">
                    <a class="nav-link" aria-current="page" href="/index">Home</a>
                </li>
                <li class="nav-item nav-list">
                    <a class="nav-link" href="/searchparts">Products</a>
                </li>
                <li class="nav-item nav-list">
                    <a class="nav-link" href="/about">About-Us</a>
                </li>
                <li class="nav-item nav-list">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                
                <li class="nav-item nav-list">
                    {% if not session.get('userid')%}
                    <a href='/login'>
                        <button class="btn btn-outline-pcb log-in" type="submit">Log-In</button>
                    </a>
                    {% endif%}
                    {% if session['userid']%}
                    <a href='/logout'>
                        <button class="btn btn-outline-pcb log-in" type="submit">Log-Out</button>
                    </a>
                    {% endif%}
                </li>
            </ul>
        
        </div>
    </div>
</nav>


<div class="build-pc-div">
    <h1 class="build-pc-heading">Search Components</h1>
</div>


<div class="main-container">
    <form action="/searchparts" method="post">
    <div class="searchbar-container mt-5">
        <div class="input-group w-75 mx-auto">
            <span class="input-group-text bg-dark text-light search-input material-symbols-outlined">search</span>
            <input type="text" name="searchtext" class="form-control search-input text-light bg-dark"
                   aria-describedby="inputGroupPrepend"
                   placeholder="Search Components">
            <button class="btn btn-outline-pcb log-in" type="submit">Search</button>
        </div>
    </div>
    
    <div class="card bg-dark mx-auto">
        <div class="card-body">
            <div class="radio-container-1">
                <div class="form-check form-check-inline">
                    <input  class="form-check-input" type="radio" name="component" id="inlineRadio1"
                           value="cpu">
                    <label class="form-check-label" for="inlineRadio1">CPU</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="component" id="inlineRadio2"
                           value="gpu">
                    <label class="form-check-label" for="inlineRadio2">Graphics Card</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="component" id="inlineRadio3"
                           value="ram">
                    <label class="form-check-label" for="inlineRadio3">Ram</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="component" id="inlineRadio3"
                           value="psu">
                    <label class="form-check-label" for="inlineRadio3">Power Supply</label>
                </div>
            </div>
            <div class="radio-container-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="component" id="inlineRadio1"
                           value="hdd">
                    <label class="form-check-label" for="inlineRadio1">Storage</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="component" id="inlineRadio2"
                           value="cooler">
                    <label class="form-check-label" for="inlineRadio2">Cooler</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="component" id="inlineRadio3"
                           value="cab">
                    <label class="form-check-label" for="inlineRadio3">Cabinate</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="component" id="inlineRadio3"
                           value="board">
                    <label class="form-check-label" for="inlineRadio3">Motherboard</label>
                </div>
            </div>
        </div>
    </div>
    </form>
    
    <div class="searchresult-div mx-auto w-75">
        <div class="search-result-list mt-4">
            <ul class="list-group search-result-ul">
                {% if dt %}
                {% if comp=='cpu' %}
                {% for data in dt %}
                <li class="list-group-item"><a href="/showcomponent/cpu/{{data.CPUID}}">{{data.CPUName}}</a></li>
                {% endfor %}
                {% endif %}
                {% if comp=='board' %}
                {% for data in dt %}
                <li class="list-group-item"><a href="/showcomponent/board/{{data.BoardID}}">{{data.BoardName}}</a></li>
                {% endfor %}
                {% endif %}
                {% if comp=='ram' %}
                {% for data in dt %}
                <li class="list-group-item"><a href="/showcomponent/ram/{{data.RAMID}}">{{data.RAMName}}</a></li>
                {% endfor %}
                {% endif %}
                {% if comp=='hdd' %}
                {% for data in dt %}
                <li class="list-group-item"><a href="/showcomponent/hdd/{{data.StorageID}}">{{data.StorageName}}</a></li>
                {% endfor %}
                {% endif %}
                {% if comp=='gpu' %}
                {% for data in dt %}
                <li class="list-group-item"><a href="/showcomponent/gpu/{{data.GPUID}}">{{data.GPUName}}</a></li>
                {% endfor %}
                {% endif %}
                {% if comp=='cooler' %}
                {% for data in dt %}
                <li class="list-group-item"><a href="/showcomponent/cooler/{{data.CoolerID}}">{{data.CoolerName}}</a></li>
                {% endfor %}
                {% endif %}
                {% if comp=='cab' %}
                {% for data in dt %}
                <li class="list-group-item"><a href="/showcomponent/cab/{{data.CabinetID}}">{{data.CabinetName}}</a></li>
                {% endfor %}
                {% endif %}
                {% if comp=='psu' %}
                {% for data in dt %}
                <li class="list-group-item"><a href="/showcomponent/psu/{{data.SmpsID}}">{{data.SmpsName}}</a></li>
                {% endfor %}
                {% endif %}
                {% endif %}
                {% if data=='None' %}
                <li class="list-group-item">Please select valid component type</li>
                {% endif %}
            </ul>
        </div>
    </div>

</div>


<!-- Footer -->
<div class="main-footer-class bg-dark text-light">
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-2">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/index" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="/searchparts" class="nav-link p-0 text-muted">Products</a>
                        </li>
                        <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-muted">About-Us</a></li>
                        <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-muted">Contact-Us</a></li>
                    </ul>
                </div>
                
                <div class="col-2">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/buildpc" class="nav-link p-0 text-muted">Build PC</a></li>
                        <li class="nav-item mb-2"><a href="usersbuilds" class="nav-link p-0 text-muted">Users Build</a>
                        </li>
                        <li class="nav-item mb-2"><a href="/viewbuilds" class="nav-link p-0 text-muted">Your Builds</a>
                        </li>
                        <li class="nav-item mb-2"><a href="/autobuild" class="nav-link p-0 text-muted">Auto Build</a>
                        </li>
                    </ul>
                </div>
                
                <div class="col-2">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/searchparts" class="nav-link p-0 text-muted">Search
                            Components</a></li>
                        <li class="nav-item mb-2"><a href="/buildguide" class="nav-link p-0 text-muted">Build Guide</a>
                        </li>
                    </ul>
                </div>
                
                <div class="col-4 offset-1">
                    <div class="d-flex w-100 gap-2 ms-5">
                        <a href="/index"><img src="{{url_for('static', filename='User/IMG/PCB-LOGO.png')}}" alt=""
                                              class="footer-logo"></a>
                    </div>
                </div>
            
            </div>
            
            <div class="d-flex justify-content-center py-4 my-4 border-top">
                <p>&copy; 2022 PC BUILDER, Inc. All rights reserved.</p>
            </div>
        </footer>
    </div>
</div>
<!-- Footer Ends Here -->


<!-- Include JavaScript -->
<script src="{{url_for('static', filename='User/JS/index.js')}}"></script>
<script src="{{url_for('static', filename='User/JS/bootstrap.min.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>